.banner-box1 p{
    /* color:var(--secondary-color); */
    font-weight:500;
}
.banner-slogan p{
    /* color:var(--secondary-color); */
    /* color:black; */
    font-weight:500;
}
.text-color1{
    color:rgb(84, 28, 176);
}
.text-color2{
    color:rgb(50, 109, 215);
}

/* .posters{
    height:500px
} */

