/* #menu-icon{
    display:none;
}
.navbar{
    width:100%;
    background-color:rgb(245, 245, 245);
}
.navbar li{
    padding:1rem;
    font-weight:500;
}

.navbar-btns{
    background-image: linear-gradient(to bottom right, rgb(84, 28, 176) , rgb(72, 154, 246));
    padding:0rem 1.5rem;
    display:flex;
    justify-content:space around ;
    align-items:center;
    color:white;
} */
